* {
    margin: 0;
    padding: 0;
    border: border-box;
}

body {
    background-color: coral;
    font: Arial, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 150%;
    margin-top: 30px;
    margin-left: 70px;
}


h2 {
    font-size: 90%;
    text-align: center;
    margin-top: 5px;
    margin-right: 300px;
}

svg {
    margin-top: 30px;
    margin-left: 70px;
}